$font_family: 'Lato', Arial, Helvetica, sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #333333;
$color_green_1: #78c214;
$color_red_1: #bf2324;
$color_red_2: #ba2222;
$color_yellow_1: #ffdd2b;
$color_blue_1: #13c6ca;
$color_text:#4e2e08;
$color_title:#5a0a0a;

$bg_footer:#fffaed;

$border_color_1:#d2af6b;
$border_color_2:#f8e1b4;

@mixin bg_gradient(){
  background: #e4bc74;
  background: -moz-linear-gradient(left, #e4bc74 0%, #f3dfa3 100%);
  background: -webkit-linear-gradient(left, #e4bc74 0%,#f3dfa3 100%);
  background: linear-gradient(to right, #e4bc74 0%,#f3dfa3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4bc74', endColorstr='#f3dfa3',GradientType=1 );
}
@mixin bg_gradient_red-btn(){
  background: #f43433;
  background: -moz-linear-gradient(top, #f43433 0%, #c02324 100%);
  background: -webkit-linear-gradient(top, #f43433 0%,#c02324 100%);
  background: linear-gradient(to bottom, #f43433 0%,#c02324 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43433', endColorstr='#c02324',GradientType=0 );
}
@mixin bg_gradient_red(){
  background: #ac1a1b;
  background: -moz-linear-gradient(top, #ac1a1b 0%, #ef3f3f 53%, #880707 100%);
  background: -webkit-linear-gradient(top, #ac1a1b 0%,#ef3f3f 53%,#880707 100%);
  background: linear-gradient(to bottom, #ac1a1b 0%,#ef3f3f 53%,#880707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac1a1b', endColorstr='#880707',GradientType=0 );
}
@mixin bg_gradient_gold(){
  background: #f6d790;
  background: -moz-linear-gradient(top, #f6d790 0%, #ad802f 100%);
  background: -webkit-linear-gradient(top, #f6d790 0%,#ad802f 100%);
  background: linear-gradient(to bottom, #f6d790 0%,#ad802f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d790', endColorstr='#ad802f',GradientType=0 );
}
@mixin bg_gradient_form(){
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ebe2cf 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#ebe2cf 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#ebe2cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebe2cf',GradientType=0 );
}
@mixin bg_gradient_header(){
  background: -moz-linear-gradient(top, rgba(255,251,239,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,251,239,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,251,239,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbef', endColorstr='#00ffffff',GradientType=0 );
}
body{
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: normal;
  background-color: $color_white;
  min-height: 400px;
  min-width: 320px;
  color: $color_text;
}
html,body{
  width: 100%;
}
input,button,textarea,select{
  font-family:$font_family;
  font-size: 14px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
  cursor: pointer;
  color: $color_red_1;
  text-decoration: none;
  @include web_transition(all .2s ease-in-out);
  &:hover{
    color: $color_gray_1;
  }
}
.under a, a.under{
  text-decoration: underline;
}
.under a:hover, a.under:hover{
  text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
i,.italic{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
h1, .h1{
  font-size: 35px;
}
h2, .h2{
  font-size: 24px;
}
h3, .h3{
  font-size: 22px;
}
h4, .h4{
  font-size: 18px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  font-weight: bold;
  line-height: 1.2;
}
.dotted{
  border-bottom: 1px dotted;
}
.dashed{
  border-bottom: 1px dashed;
}
.super{
  vertical-align: super;
  font-size: 11px;
}
.caret{
  color: inherit;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: block;
  width: 0;
  height: 0;
}
.box-inline{
  display: inline-block;
  vertical-align: top;
}
.btn{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background:none;
  cursor: pointer;
  @include web_transition(all 0.2s ease-in-out);
}
.container{
  max-width: 1085px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
/*colors*/
.grey{
  color: $color_gray_1;
}
.black{
  color: $color_black;
}
.white{
  color: $color_white;
}
.blue{
  color: $color_blue_1;
}
.red{
  color: $color_red_1;
}
.yellow{
  color: $color_yellow_1;
}
.green{
  color: $color_green_1;
}

/*CONTENT*/
html,
body{
  min-width: 940px;
  position: relative;
}
.wrapper{
  width: 100%;
  position: relative;
  @include bg_gradient;
}
.main{
  overflow-y: visible;
  overflow-x: hidden;
}