.btn{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding:10px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:1px solid;
  &-sm{
    font-size: 12px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-red{
    @include bg_gradient_red-btn;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    color: $color_white;
    border-radius: 30px;
    padding: 16px 45px 20px;
    @include box_shadow(0 4px 13px rgba(61, 60, 60, 0.35));
    &:hover{
      @include box_shadow(none);
      color: $color_white;
    }
  }
  &-lg{
    min-width: 270px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}