.section{
  &-intro{
    overflow: hidden;
    min-height: 900px;
    background: url("../images/bg-1-2.png") no-repeat top center;
    position: relative;
    &-title{
      color: $color_white;
      margin: 0 auto;
      width: 780px;
      background: url("../images/title.png") no-repeat top center;
      text-align: center;
      padding: 45px 0 55px;
      margin-bottom: 70px;
      position: relative;
      z-index: 4;
    }
    &-prizes{
      position: absolute;
      left:38%;
      top:-25%;
      width: 100%;
      z-index: 2;
    }
    &-form{
      width: 380px;
      background: $color_white;
      padding: 40px 30px 0;
      border-radius: 10px;
      position: relative;
      font-size: 20px;
      height: 294px;
      &:before{
        position: absolute;
        content: '';
        left:100%;
        top:4px;
        border-left: 55px solid $color_white;
        border-bottom: 143px solid transparent;
        border-top: 143px solid transparent;
        display: block;
        width: 0;
        height: 0;
        margin-left: -1px;
      }
      .star-top{
        position: absolute;
        right: -30px;
        top:-20px;
      }
      .star-down{
        position: absolute;
        left: -45px;
        bottom:-55px;
      }
      .title{
        color: $color_title;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .text{
        margin-top: 15px;
      }
    }
    &-bg{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      &.down{
        background: url("../images/bg-1-0.png") no-repeat top center;
      }
      &.top{
        background: url("../images/bg-1-1.png") no-repeat top center;
        z-index: 3;
      }
    }
  }
  &-about{
    position: relative;
    @include bg_gradient_red;
    padding-bottom: 20px;
    margin-top: -40px;
    &:after{
      width: 110%;
      height: 150px;
      left: -5%;
      content: '';
      position: absolute;
      border-radius: 0 0 50% 50%;
      top: 0;
      margin-top: -70px;
      @include bg_gradient;
    }
    &:before{
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      content: '';
      position: absolute;
      background: url("../images/bg-coin.png") repeat-x;
    }
    &-form{
      max-width: 654px;
      margin: 0 auto;
      @include bg_gradient_form;
      border-radius: 7px;
      @include box_shadow(0 6px 35px 10px rgba(108, 5, 6, 0.35));
      position: relative;
      padding: 40px 15px 15px;
      margin-bottom: 200px;
      z-index: 5;
      .title{
        width: 795px;
        position: absolute;
        height: 120px;
        padding-top: 27px;
        margin-bottom: -47px;
        bottom:100%;
        left:50%;
        margin-left: -398px;
        background: url("../images/title-2.png") no-repeat top center;
        color: $color_white;
        text-align: center;
      }
      .form{
        max-width: 470px;
        margin: 0 auto;
        &-text{
          max-width: 375px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
        &-btn{
          text-align: center;
        }
      }
      .timer{
        max-width: 430px;
        margin: 50px auto -75px;
        height: 120px;
        padding: 20px 0;
        border-radius: 5px;
        @include box_shadow(0 14px 18px 6px rgba(44, 4, 5, 0.15));
        @include bg_gradient_gold;
        color: $color_white;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        .date{
          &-number{
            display: inline-block;
            vertical-align: top;
            width: 1.8em;
            text-align: center;
          }
          &-title{
            font-size: 13px;
            font-weight: normal;
          }
        }
      }
    }
    &-title{
      text-align: center;
      margin-bottom: 60px;
      color: $color_white;
    }
    &-best{
      padding-bottom: 70px;
      .present{
        position: absolute;
        bottom:0;
        right: 25%;
        width: 100%;
      }
      &-form{
        max-width: 500px;
        margin-bottom: 200px;
        position: relative;
        left:48%;
        &-content{
          background: $color_white;
          border-radius: 10px;
          @include box_shadow(0 8px 27px rgba(108, 5, 6, 0.15));
          padding: 55px 45px;
          position: relative;
          z-index: 2;
          font-size: 18px;
        }
        &:before{
          position: absolute;
          top:-130px;
          right: -100px;
          content: '';
          background: url("../images/star-top-2.png") no-repeat;
          width: 226px;
          height: 223px;
          z-index: 1;
        }
        &:after{
          position: absolute;
          bottom:-160px;
          left: -10px;
          content: '';
          background: url("../images/star-down-2.png") no-repeat;
          width: 199px;
          height: 195px;
          z-index: 1;
        }
        .title{
          color: $color_title;
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .text{
          p{
            margin-top: 15px;
          }
        }
        .label{
          position: absolute;
          bottom:-110px;
          right: -90px;
          content: '';
          background: url("../images/best.png") no-repeat;
          width: 224px;
          height: 224px;
          text-transform: uppercase;
          font-size: 28px;
          line-height: 16px;
          font-weight: bold;
          color: $color_white;
          text-align: center;
          padding: 85px 60px;
          span{
            font-size: 16px;
          }
        }
      }
    }
    &-bg{
      position: absolute;
      top:100px;
      left:0;
      width: 100%;
      height: 100%;
      background: url("../images/bg-2-1.png") no-repeat top center;
    }
  }
  &-win{
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    &:before{
      width: 110%;
      height: 150px;
      left: -5%;
      content: '';
      position: absolute;
      border-radius: 50% 50% 0 0;
      top: 0;
      margin-top: -45px;
      @include bg_gradient;
    }
    &:after{
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      content: '';
      position: absolute;
      background: url("../images/bg-point.png") repeat;
    }
    .container{
      position: relative;
      z-index: 2;
    }
    &-title{
      background: url("../images/title-3.png") no-repeat center top;
      width: 440px;
      height: 180px;
      margin: 0 auto;
      text-align: center;
      color: $color_white;
      padding-top: 25px;
      margin-top: -105px;
    }
    &-list{
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_around;
    }
    &-item{
      width: 280px;
      border: 2px solid $border_color_2;
      background: $color_red_2;
      color: $color_white;
      font-weight: bold;
      font-size: 22px;
      margin: 0 10px 30px;
      .image{
        height: 360px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      .date{
        text-align: center;
        padding: 15px;
      }
    }
  }
}
@media(max-width: 940px) {

}