footer{
  text-align: center;
  line-height: 30px;
  padding: 25px 0;
  background: $bg_footer;
  color: $color_black;
  .logo{
    width: 106px;
    margin-right: 25px;
    display: inline-block;
    vertical-align: top;
  }
}