header{
  text-align: center;
  color: $color_red_1;
  font-size: 24px;
  padding: 35px 0;
  position: relative;
  font-weight: bold;
  &:before{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 500px;
    content:'';
    @include bg_gradient_header;
  }
  .container{
    @include block_flex;
    @include flex_justify_around;
  }

  .logo{
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
  }
}