    </div>
    <footer>
        <div class="container">
            <div class="logo"><img src="images/logo-dark.svg" alt=""></div>
            © 2018 Betgaming is owned and operated by Gaming Markets Inc.
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/modal.js"></script>
<script src="js/script.js"></script>
</body>
</html>
