<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css"><!--was generated from sass-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="container">
            Make your dreams come true!
            <div class="logo"><img src="images/logo-dark.svg" alt=""></div>
            Win prizes you always wanted!
        </div>
    </header>
    {% include "_modal.html" %}
    <div class="main">