<section class="section-intro">
    <div class="section-intro-bg down parallax"></div>
    <div class="section-intro-bg top parallax"></div>
    <div class="section-intro-title">
        <h1>New Gaming website in Philippines</h1>
    </div>
    <div class="container">
        <div class="section-intro-form">
            <div class="star-top"><img src="images/star-top.png" alt=""></div>
            <div class="star-down"><img src="images/star-down.png" alt=""></div>
            <div class="title">Join winners Club and try <br/>
                to win one of these prizes:</div>
            <div class="text">
                20x Apple Iphone X smartphones
            </div>
            <div class="text">10x Apple Macbook Air Laptops</div>
            <div class="text">
                5x Scooters
            </div>
            <div class="text">
                2x Holidays in Europe for two weeks
            </div>
        </div>
        <div class="section-intro-prizes">
            <img src="images/prizes.png" alt="">
        </div>
    </div>
</section>