<section class="section-win">
    <div class="container">
        <div class="section-win-title"><h2>People who already won <br/>Be one of them!</h2></div>
        <div class="section-win-list">
            <div class="section-win-item">
                <div class="image"><img src="images/1.jpg" alt=""></div>
                <div class="date">4 days ago</div>
            </div>
            <div class="section-win-item">
                <div class="image"><img src="images/2.jpg" alt=""></div>
                <div class="date">2 weeks ago</div>
            </div>
            <div class="section-win-item">
                <div class="image"><img src="images/3.jpg" alt=""></div>
                <div class="date">3 weeks ago</div>
            </div>
        </div>
    </div>
</section>