<section class="section-about">
    <div class="section-about-bg"></div>
    <div class="section-about-form">
        <div class="title"><h2>Be one of 37 winners who will get our awesome prizes</h2></div>
        <form class="form">
            <div class="form-text">
                <p>All you need to do</p>
                <p>Leave your contact details here and we will
                    get in touch with you soon!</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Full name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Mobile phone"/>
            </div>
            <div class="form-btn">
                <!--<button type="submit" class="btn btn-red btn-lg">TRY MY LUCK</button>-->
                <a class="btn btn-red btn-lg" data-toggle="modal" data-target="#thanks">TRY MY LUCK</a>
            </div>
        </form>
        <div class="timer">
            <div class="getting-started"></div>
        </div>
    </div>
    <div class="container">
        <div class="section-about-title">
            <div class="h1">Your opportunity to win will arrive soon!</div>
        </div>
        <div class="section-about-best">
            <div class="present"><img src="images/woman.png" alt=""></div>
            <div class="section-about-best-form">
                <div class="section-about-best-form-content">
                    <div class="title">To warm you up, we are giving away
                        best prizes to our new customers</div>
                    <div class="text">
                        <p>Betgaming is amongst the fastest growing online gaming sites worlwide.</p>

                        <p>The main reason why more and more people choose us everyday is simple: our dedication to our customers.</p>

                        <p>We constantly strive to bring the most exciting and
                            rewarding experiences in online gaming</p>
                    </div>
                    <div class="label">
                        best <span>choise</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>